#contact {
  font-family: $font-family;
  padding-top: 150px;
  margin-bottom: 3em;

  h1.lead {
    line-height: 0;
  }

  p {
    font-size: 1.25em;
    font-weight: 100;
    letter-spacing: -1px;
    line-height: 1.3em;
  }
}