.hero-unit {
  background: url('../img/kayaks_fade.jpg');
  height: 1150px;
  width: 100%;

  #read-more {
    position: relative;
    top: 48%;

    a {
      float: right;
      margin-right: 75px;
      background-color: #777777;
      display: block;
      padding: 10px;
      text-align: center;
      padding: 10px;
      @include transition();
      color: $white;
      font-weight: 100;
      &:hover {
        color: $smoke;
        background-color: $smoke / 2.5;
      }
    }
  }

  #content-quote {
    font-size: 1.2em;
    text-align: left;
    color: $lightblue;
    position: relative;
    padding: 0px 75px;
    top: 20%;

    h2 {
      letter-spacing: -2px;
    }

    h3 {
      color: $blue;
      font-weight: 100;
      letter-spacing: -2px;
      line-height: 1.2em;
      margin: 0;
      display: block;
    }
  }
}

#quote-slider {
  p {
    margin: 0;
    letter-spacing: -1px;
    font-weight: 100;
  }

  hr {
    width: 30%;
    align: center;
    border-top: 1px solid #b5babd;
    display: inline-block;
  }

  .orbit-container {
    background: none;
  }

  .orbit-slide-number, .orbit-timer {
    display: none;
  }

  .orbit-prev, .orbit-next {
    display: none;
  }

  text-align: center;
  margin-top: 25px;


}

#resume {
  .resume-block {
    margin-top: 1.75em;
    margin-bottom: 2em;
    ul {
      list-style-type: none;
      li:before {
        font-family: 'fontawesome';
        content: "\F046";
        color: $lightgrey;
        padding-right: 1em;
      }
    }
  }

  h2.subtitle {
    font-weight: 200;
    color: $orange;
    font-size: 0.65em;
    text-transform: uppercase;
    margin-bottom: 1.5em;
  }

  p {
    font-size: 1.25em;
    font-weight: 100;
    letter-spacing: -1px;
    line-height: 1.3em;
  }

  .education {
    display: block;
    color: $lightgrey;
    font-size: 0.85em;
    letter-spacing: 0;
  }
}

table.none {
  border: none;
  font-weight: 100;
  padding: 0;
  margin: 0;
  font-size: 1.25em;
  background: none;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;

  .meter {
    @include transition(all, 1s, ease);
    background-color: $blue * 1.25;
  }

  tr:nth-child(even) {
      background-color: #efefef;
      .meter {
        background-color: $blue;
      }
  }

  tr {
    border: 0;
    margin: 0;
    padding: 0;
  }

  td {
    border: 0;
    padding: 0;
    margin: 0;
    padding: 10px 10px;
  }

  td.lead {
    width: 35%;
  }

  .progress {
    height: 1em;
    margin: 0;
    display: block;
  }
}

#graphics {
  h2 {
    text-align: left;
  }
  div {
    float: left;
  }
}