#work {
  font-family: $font-family;
  padding-top: 150px;
  margin-bottom: 3em;

  ul {
    padding: 0;
    margin: 0 0 1.5em 0;
    list-style-type: none;
    li {
      list-style-type: none;
      font-size: 0.85em;
      color: $grey;
    }
  }

  h1.lead {
    line-height: 0;
  }

  .project {
    margin-bottom: 1em;
    padding: 1em 1em 0.5em 1em;
    text-align: center;
    background-color: $white;
    @include transition();

    &:hover {
      background-color: #f2f2f2;
    }

    a.img-link {
      color: $black;
      display: block;
      width: 100%;
      height: 100%;
      &:hover {
        color: $turq;
        span.description {
          color: $turq;
        }
      }
    }

      img {
        width: 65%;
      }

    .row {
      width: 90%;
    }

    ul {
      text-align: left;
      margin-top: 1em;
      font-size: 0.85em;
    }

    .description {
      text-align: left;
      text-transform: uppercase;
      display: block;
      color: $orange;
      font-size: 0.85em;
      font-weight: 100;
      line-height: 1.2em;
      padding: 0;
    }

    .title {
      text-align: left;
      display: block;
      font-size: 1.2em;;
      font-weight: 100;
      line-height: 1.2em;
      padding: 0;
    }

    i.addition {
      font-family: 'Lato', 'Helvetica', Arial, sans-serif;
      font-weight: 100;
      font-size: 2em;
      text-align: left;
    }
  }

  .circle {
    position: relative;
    top: 5%;
    left: 5%;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 90%;
    margin-bottom: 0.5em;
    background-position: center;
    background-size: cover;
  }

  .img-circle {
    // border-radius: 500px;
    margin-bottom: 1em;
  }
}