/**
 *  Work in progress :: Should be moved in with each style sheet
 */
@media screen and (max-width: 475px) {
  #work {
    padding-top: 1em;
  }
}


/* mobile */
@media screen and (max-width: 766px) {
  html, body {
    font-size: 14pt;
  }

  .rslides {
    top: 2%;
    left: 20%;
    right: 20%;
  }

  .img-circle {
    max-width: 75%;
  }

  #navigation {
    position: static;

    .links {
      width: 100%;
      text-align: center;
      padding: 0;
      float: right;
      margin: 0;
      font-size: 1.25em;

      li {
        float: none;
        &:after {
          padding: 0;
          content: '';
        }
      }
    }

    .divider {
      display: none;
    }

    .brand {
      font-size: 0.8em;
      height: 100%;
      padding: 0.5em;
    }
  }

  .hero-unit {
    height: 550px;
    background-size: cover;
    background-position: center;

    #content-quote {
      top: 15%;
      padding: 0;

      h1 {
        font-size: 1.25em;
      }

      p {
        font-size: 0.9em;
      }
    }
  }

  #read-more {
    display: none;
  }

  [class*="block-grid-"] > li {
    width: 100%;
  }

  #work {
    padding-top: 1em;
    .project {
      width: 100%;
      text-align: center;
    }
  }

  #graphics div {
    float: none;
  }

  #paper-play, #paper-work {
    text-align: center;
  }

  #resume h2.subtitle {
    font-size: 1em;
  }

  #upper-footer {
    font-size: 1.25em;
    .columns {
      margin: 20px 0;
      text-align: center;
    }
  }

  #lower-footer {
    font-size: 1.5em;
    .columns {
      text-align: center;
    }

    ul {
      margin: 0 0 25px 0;
      width: 100%;
      li {
        font-size: 3em;
        float: left;
        width: 25%;
        margin: 0;
        span {
          display: none;
        }
      }
    }
  }

  #next {
    display: none;
  }

  #prev {
    display: none;
  }

  .slideshow-wrapper {
    display: none;
  }

  #to-the-top {
    left: 85%;
  }

}

/* tablets */
@media screen and (min-width: 767px) {
  html, body {
    font-size: 14pt;
  }

  #read-more {
    display: block;
  }

  #navigation {
    font-size: 1.25em;
  }

  .hero-unit {
    height: 650px;
    background-size: cover;
    #content-quote {
      p {
        font-size: 1.075em;
      }
    }
  }

  .rslides {
    top: 4%;
    left: 20%;
    right: 20%;
  }

  #graphics {
    display: inline-block;

  }

  #graphics-tablet {
    display: inline;
  }


  #work {
    .project {
      span.description {
        font-size: 0.65em;
      }
    }
  }

  #next {
    top: 25%;
    left: 95%;
    a {
      opacity: 0.75;
    }
  }

  #prev {
    top: 25%;
    left: 1.5%;
    a {
      opacity: 0.75;
    }
  }
}

@media screen and (min-width: 959px) {
  html, body {
    font-size: 16pt;
  }

  #navigation {
    font-size: 1.25em;
  }

  .hero-unit {
    height: 780px;
    #content-quote {
      p {
        font-size: 1.25em;
      }
    }
  }

  .img-circle {
    max-width: 100%;
  }

  #resume {
    p {
      font-size: 1.15em;
      letter-spacing: 0;
      line-height: 1.45em;
    }
  }

  #navigation {
    .brand {
      height: 47px;
      padding-top: 15px;
    }
  }

  #quote-slider {
    p {
      letter-spacing: 0;
    }
  }

  .rslides {
    top: 5%;
  }

  #work {
    .project {
      span.description {
        font-size: 0.85em;
      }
    }
  }

}

@media only screen and (min-width: 1367px) {
  html, body {
    font-size: 18pt;
  }

  .hero-unit {
    height: 1150px;
    background-size: cover;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-unit {
    #content-quote {
      p {
        letter-spacing: -1px;
      }
    }
  }

  #resume {
    p {
      font-size: 1.25em;
      letter-spacing: -1px;
      line-height: 1.6em;
    }
  }

  #work {
    .project {
    }
  }

  #next {
    top: 40%;
    left: 96.7%;
  }

  #prev {
    top: 40%;
    left: 1%;
  }
}